<!doctype html>
<html lang="en">
  <head>
    <title>Maqueta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a href="/login.html" class="navbar-brand">CAE Comparator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/AgregarOferta.html">Agregar oferta</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/consultar">Consultar ofertas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Cerrar sesión</a>
              </li>
          </ul>
      </div>
  </nav>
  {{ range $Table := .Ar }}
    <div class="container my-4 bg-light">
        <h1>{{ $Table.Producto }}</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ofrecido por</th>
                <th scope="col">Total</th>
                <th scope="col">N° cuotas</th>
                <th scope="col">Valor cuota</th>
                <th scope="col">CAE</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              {{ range $Dato := $Table.Arr}}
              <tr>
                <th scope="row">{{ $Dato.Rank}}</th>
                <td>{{ $Dato.Vendedor }}</td>
                <td>${{ $Dato.Total }}</td>
                <td>{{ $Dato.Periodo }}</td>
                <td>${{ $Dato.Cuota }}</td>
                <td>{{ $Dato.Cae }}%</td>
                <td>
                  <form action="/remove" method="post">
                    <input type="hidden" name="id_user" value="{{ $Dato.User }}">
                    <input type="hidden" name="id_consulta" value="{{ $Dato.Id }}">
                    <button type="submit" class="btn btn-danger mr-3">
                        <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                  </form>
                </td>
              </tr>
              {{ end }}
            </tbody>
          </table>
    </div>
    {{ end }}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>